body {
    padding: 0;
    margin: 0;
}
html, body, #map {
    height: 100%;
    width: 100%;
    background: #91ad32
}

  
.leaflet-top .leaflet-control-zoom{
      margin-top: 80px;
}

.buttonBlock1 {
  max-width: 200px;
  position: absolute;
  z-index: 1000;
  border-radius: 5px;
  margin-top: 77px; 
  background-color:  #FFF; 
  padding: 5px; 
  border-radius: 3px; 
  border-width: 0.5px;
  border-color: #ddd;
  color: rgb(22, 22, 22);
  margin-left: 11px;
  margin-bottom: -10px;
}


.buttonBlock {
  max-width: 200px;
  position: absolute;
  z-index: 1000;
  border-radius: 5px;
  margin-top: 82px; 
  background-color:  #FFF; 
  padding: 5px; 
  border-radius: 3px; 
  border-width: 0.5px;
  border-color: #ddd;
  color: rgb(22, 22, 22);
  margin-left: 11px;
  margin-bottom: -10px;
  }
  
  .formBlock {
      display: none;
      max-width: 200px;
      background-color: #FFF;
      border: 1px solid #ddd;
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 10px;
      z-index: 999;
      border-radius: 5px;
      width: 100%;
      padding-bottom: 20px;
      margin-top: 72px;
  }
  

  .button {
      margin-top: 10px; 
      background-color:  #FFF; 
      padding: 7px; 
      border-radius: 3px; 
      border-width: 0.5px;
      border-color: #ddd;
      color: rgb(22, 22, 22);
      float: right;
      margin-bottom: -10px;
  }

  .button2 {
    margin-top: 10px; 
    background-color:  #FFF; 
    padding: 7px; 
    border-radius: 3px; 
    border-width: 0.5px;
    border-color: #ddd;
    color: rgb(22, 22, 22);
    float: left;
    margin-bottom: -10px;
}

  
  
  .input {
      float: left;
      width: 100%;
      border: 1px solid #ddd;
      font-size: 15px;
      border-radius: 3px;
      padding: 10px;
      margin-top: 5px;;
      background-color: #FFF;
  }
  
  
    .dropdown {
      max-width: 200px;
      background-color: #FFF;
      border: 1px solid #ddd;
      position: absolute;
      top: 10px;
      left: 10px;
      padding: 15px;
      z-index: 999;
      border-radius: 5px;
      width: 100%;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown a:hover {background-color: #ddd;}
    
    .show {display: block;}
  
     
    * {
      box-sizing: border-box;
      
    }

    .container {
        position: absolute;
        z-index: 9999999;
        width: 100%;
        padding: 20px;
        border-radius: 10px;
      }
    
      form.example input[type=text] {
        padding: 10px;
        font-size: 17px;
        border: 1px solid grey;
        float: left;
        width: 80%;
        background: white;
    
      }
      
      form.example button {
        float: left;
        width: 20%;
        padding: 10px;
        background: #2196F3;
        color: white;
        font-size: 17px;
        border: 1px solid grey;
        border-left: none;
        cursor: pointer;
      }
      
      form.example button:hover {
        background: #0b7dda;
      }
      
      form.example::after {
        content: "";
        clear: both;
        display: table;
      }

      





    .leaflet-popup-close-button {
        display:none;
    }

    .leaflet-label-overlay {
        line-height:px;
        margin-top: 9px;
        position:absolute;
        color: white;
        font-size: 20px;
        -webkit-text-stroke: 1px black;
    }
